.bg-body {
    background-color: rgb(212, 204, 194);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: rgb(16, 95, 134);
    color: white;
}

.content {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
}

#logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.icon-link {
    color: white;
    margin-left: 10px;
}

#titleWelcome {
    color: rgb(41, 116, 162);
}

#myGrid {
    height: 60vh;
    width: 100%;
}

.header-custom-ag {
    color: rgb(41, 116, 162);
}

.ag-body-viewport-wrapper.ag-layout-normal {
    overflow-x: scroll;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.ag-set-filter-list {
    width: 500px !important;
}

.link {
    margin-top: 10px;
}

.description {
    margin-top: 10px;

}

.bc-icons .breadcrumb-item+.breadcrumb-item::before {
    content: none;
}

.bc-icons .breadcrumb-item.active {
    color: #eeeeee;
}

body {
    overflow: hidden;
}
